$black: #000;
$color_2: GrayText;
$white: #fff;
$color_4: inherit;
$color_5: #ee3094;
$font-family_1: Inter, sans-serif;
$font-family: Monument Extended;
$color_1: rgba(0, 0, 0, .5);
$color_2: #333;
$color_3: #fff;
$color_4: #eaf8fd;
$color_5: inherit;
$color_6: #d0edf8;
$color_7: #aa8cff;
$color_9: #f5f9fb;
$border-color_1: #aaa;
$border-color_2: unset;

$bg-blog-item: #f0f8ff;
