$color_1: #000;
$color_2: GrayText;
$color_3: #fff;
$color_4: inherit;
$color_5: #ee3094;
$font-family_1: Inter, sans-serif;
$font-family_2: Monument Extended;
$background-color_1: rgba(0, 0, 0, .5);
$background-color_2: #333;
$background-color_3: #fff;
$background-color_4: #eaf8fd;
$background-color_5: inherit;
$background-color_6: #d0edf8;
$background-color_7: #aa8cff;
$background-color_8: #000;
$background-color_9: #f5f9fb;
$border-color_1: #aaa;
$border-color_2: unset;

