@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap";
@import "fonts";
@import "_variables";

@import "nav";
@import "blog";
@import "breadcrumb";
@import "layout";



.d-flex{
  display: flex;
}
@keyframes modal-video-inner {
  0% {
    transform: translateY(100px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  margin-bottom: 45px !important;
  border: 2px solid #000 !important;
  border-radius: 10px;
  padding: 5px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: $black !important;
  font-weight: 400;
  padding: 10px 20px !important;
  bottom: unset !important;
  border: none !important;
  font-family: $font-family;

  &:focus {
    outline: none;
    border-color: $border-color_2 !important;
    box-shadow: none !important;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      left: -4px;
      right: -4px;
      bottom: -5px;
      background: #fff;
      content: none !important;
    }
  }

  &:not(:first-child) {
    margin-left: 0 !important;
  }

  &:hover {
    cursor: url("/images/pointer.svg"), default;
  }
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: $border-color_1;
  color: $black;
  border-radius: 5px 5px 0 0;
  background: #000 !important;
  color: $white !important;
  position: relative;
  border-radius: 8px !important;

  &:before {
    content: none;
  }
}

.react-tabs__tab--disabled {
  color: $color_2;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;

  p {
    font-size: 16px;
    line-height: 30px;
    color: $black;
    margin-bottom: 40px;
  }

  strong {
    color: $black;
    font-weight: 400;
  }

  h3 {
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      padding-left: 20px;
      font-weight: 600;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: linear-gradient(119.43deg, #995fff 14.88%, #eb8181 88.58%);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  pre {
    background: #f4f7f8;
    border: 1px solid #e3eaec;
    border-radius: 3px;
    padding: 30px;
    overflow: auto;
    white-space: pre;
    margin: 5px 0 20px;
    font-size: 15px;
  }
}

.react-tabs__tab-panel--selected {
  display: block;
}

@keyframes modal-video {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes modal-video-inner {
  0% {
    transform: translateY(100px)
  }

  to {
    transform: translate(0)
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-blog-item;
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: .3s;
  animation-name: modal-video;
  transition: opacity .3s ease-out;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal-video-effect-exit {
  opacity: 0;

  .modal-video-movie-wrap {
    transform: translateY(100px);
  }
}

.modal-video-body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-video-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: $color_2;
  animation-timing-function: ease-out;
  animation-duration: .3s;
  animation-name: modal-video-inner;
  transform: translate(0);
  transition: transform .3s ease-out;
  background: transparent;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #000;
    border-radius: 20px;
  }
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
  background: #000;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  right: -60px;
  cursor: url("/images/pointer.svg"), default;

  &:before {
    transform: rotate(45deg);
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -6px;
    content: "";
    position: absolute;
    height: 2px;
    width: 65%;
    top: 45%;
    left: 8px;
    background: #fff;
    border-radius: 5px;
    margin-top: 0;
  }

  &:after {
    transform: rotate(-45deg);
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -6px;
    content: "";
    position: absolute;
    height: 2px;
    width: 65%;
    top: 45%;
    left: 8px;
    background: #fff;
    border-radius: 5px;
    margin-top: 0;
  }
}

body {
  font-family: $font-family_1;
  font-size: 16px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background: #fff;
  color: $black;
  -webkit-font-smoothing: antialiased;
  cursor: url("/images/cursor.svg"), default;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-family: $font-family;
  font-size: 75px;
  line-height: 92px;
}

h2 {
  margin: 0;
  font-family: $font-family;
  font-size: 55px;
  line-height: 120%;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-family: $font-family;
  font-size: 32px;
  font-weight: 400;
}

h4 {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

h5 {
  margin: 0;
  font-family: $font-family;
}

h6 {
  margin: 0;
  font-family: $font-family;
}

p {
  font-size: 16px;
  color: $black;
  line-height: 27px;
  margin: 0;
}

input {
  font-family: $font-family_1;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 21px 35px;
  font-size: 14px;
  font-family: $font-family;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  border: none;
}

.btn-primary {
  color: $white;
  background-image: linear-gradient(118.49deg, #ee3094 17.88%, #ef846d 72.21%);

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 0 #000;
  }
}

.btn-red {
  color: $white;
  background: #ff7283;
  border: 3px solid #000;
  box-shadow: 6px 6px 0 #000;

  &:hover {
    transform: translate(-2px, -2px);
    background: #ff7283;
    box-shadow: 10px 10px 0 #000;
  }
}

.btn-white {
  transition: .3s ease;
  background: #fff;
  background-image: linear-gradient(118.49deg, #ee3094 17.88%, #ef846d 72.21%);

  &:before {
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 0 #000;
  }
}

.btn-black {
  background: #000;
  color: $white;
  min-width: 200px;
  text-align: center;

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .5);
  }
}

.btn-sm {
  padding: 10px 24px;
  min-width: auto;
}

html {
  padding: 0;
  margin: 0;
  background: #fff;
  color: $black;
  -webkit-font-smoothing: antialiased;
  cursor: url("/images/cursor.svg"), default;
  scroll-behavior: smooth;
}

.layout {
  padding-top: 25px;
}

a {
  color: $black;
  text-decoration: none;
  transition: .3s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    cursor: url("/images/pointer.svg"), default;
  }
}

* {
  box-sizing: border-box;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: flex;
  animation: fadeIn .3s linear 0s 1 normal none running;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 20px 25px 30px;
  font-size: 20px;
  font-weight: 400;
  color: $black;
  text-align: left;
  border: 0;
  overflow-anchor: none;
  background-color: $color_3;
  font-family: $font-family;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;

  &:not(.collapsed) {
    color: $black;

    &:after {
      background-image: url("/images/icons/arrow-ac-down.svg");
      transform: rotate(-180deg);
    }
  }

  &:after {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-left: auto;
    content: "";
    background-image: url("/images/icons/arrow-ac-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s ease-in-out;
  }

  &:hover {
    z-index: 2;
    cursor: url("/images/pointer.svg"), default;
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  border: 2px solid #000;
  border-radius: 10px;
  transition: .3s cubic-bezier(.645, .045, .355, 1);
  overflow: hidden;
  background-color: $color_3;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.accordion-body {
  padding: 0 100px 28px 30px;
  line-height: 170%;

  p {
    margin-bottom: 0;
  }
}

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    .accordion-button {
      border-radius: 0;
    }
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width .35s ease;
}

.range-surface {
  position: relative;
  margin-bottom: 20px;
  margin-top: -10px;

  &:before {
    content: "1";
    left: 0;
    position: absolute;
    font-family: $font-family;
    bottom: -15px;
  }

  &:after {
    position: absolute;
    font-family: $font-family;
    bottom: -15px;
    content: "30+";
    right: 4px;
  }
}

.range-background {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    background: #fff;
    border: 2px solid #000;
    height: 16px;
    border-radius: 10px;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.to-top {
  font-size: 16px;
  background: #000;
  color: $white;
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 10000000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: .3s ease;
  visibility: hidden;
  opacity: 0;

  &:hover {
    box-shadow: 0 30px 25px rgba(0, 0, 0, .2);
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: auto;
  }
}

.to-top.appear {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.page-faq {
  &:before {
    content: none !important;
  }
}

.sm-table {
  border-collapse: collapse;
  color: $black;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-bottom: 32px;

  th {
    font-weight: 500;
    padding: 1rem;
  }

  td {
    padding: 1rem;
  }

  tbody {
    position: relative;
    overflow-x: auto;

    tr {
      &:nth-of-type(odd) {
        background-color: $color_4;

        th {
          background-color: $color_5;
        }
      }

      &:nth-of-type(2n) {
        background-color: $color_6;

        th {
          background-color: $color_5;
        }
      }

      &:first-of-type {
        background-color: $color_7;

        td {
          color: $white;
        }

        th {
          color: $white;
        }
      }

      th {
        position: relative;
        border-right: 1px solid #fff;
        position: sticky;
        left: 0;
        font-weight: 500;

        &:after {
          content: "";
          display: inline;
          position: absolute;
          height: 100%;
          width: 1px;
          right: 0;
          top: 0;
          background-color: $color_3;
        }
      }

      td {
        border-right: 1px solid #fff;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.modal.fade {
  .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-50px);
  }
}

.modal.show {
  .modal-dialog {
    transform: none;
  }
}

.modal.modal-static {
  .modal-dialog {
    transform: scale(1.02);
  }
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color_3;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: $black;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 0 15px;
  border-bottom: none;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);

  .modal-title {
    font-family: $font-family;
    font-size: 20px;
    margin-left: 5px;
  }

  .btn-close {
    background: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 6px;

    &:hover {
      box-shadow: 2px 2px 0 #000;
      cursor: url("/images/pointer.svg"), default;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      left: 50%;
      top: 50%;
      background: #000;
    }

    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      left: 50%;
      top: 50%;
      background: #000;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 30px 20px;

  input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 20px;
    font-family: $font-family;

    &:focus {
      outline: 0;
      box-shadow: 2px 2px 0 #000;
    }
  }

  button {
    box-shadow: none;
    outline: 0;

    &:hover {
      cursor: url("/images/pointer.svg"), default;
    }
  }
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);

  > * {
    margin: .25rem;
  }
}

.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .modal-header {
    border-radius: 0;
  }

  .modal-body {
    overflow-y: auto;
  }

  .modal-footer {
    border-radius: 0;
  }
}

.floatingButton {
  a {
    position: fixed;
    top: 2%;
    right: 2%;
    visibility: hidden;
    z-index: 99;
    opacity: 0;
    right: -1%;
  }
}

.floatingButtonVisible {
  a {
    visibility: visible;
    opacity: 1;
    right: 2%;
  }
}

.footer_footer__u526u {
  padding: 110px 0 70px;
  overflow: hidden;
  position: relative;

  h2 {
    font-size: 24px;
    margin-bottom: 22px;
    font-weight: 700;
    line-height: 100%;

    span {
      font-weight: 400;
    }
  }

  p {
    margin-bottom: 24px;
  }
}

.footer_footerContent__NCU8r {
  text-align: center;
  max-width: 668px;
  margin: 0 auto;
}

.footer_footerLogo__C0pYH {
  position: relative;
  margin-bottom: 10px;
}

.footer_footerLogoBg__i_HMh {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer_footerSocial__qUdYr {
  list-style: none;
  margin: 0 0 96px;
  padding: 0;
}

.footer_footerSocialIcon__94ZZC {
  display: inline-block;

  a {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 6px 6px 0 #000;
    }
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.footer_footerNav__aG9Qe {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_footerNavItem__6V_F7 {
  display: inline-block;

  a {
    font-family: $font-family;
    font-size: 14px;

    &:hover {
      color: $color_5;
    }
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.footer_particleOne__Gb1PX {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateX(-50%);
}

.footer_particleTwo__eHLhc {
  position: absolute;
  bottom: 25%;
  right: 7%;
}


@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -2px;
  }
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .container {
    width: 540px;
  }
  .accordion-button {
    font-size: 15px;
  }
  .accordion-item {
    box-shadow: 4px 4px 0 #000;
  }
  .footer_footer__u526u {
    padding: 80px 0 50px;
  }
  .footer_footerNavItem__6V_F7 {
    a {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .footer_particleOne__Gb1PX {
    width: 120px;
    top: 10%;
  }
  .footer_particleTwo__eHLhc {
    width: 30px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .accordion-button {
    padding: 20px 20px 20px 30px;
  }
  .footer_footerSocial__qUdYr {
    margin-bottom: 60px;
  }
  .footer_footerNavItem__6V_F7 {
    a {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 36px;
  }
  .container {
    width: 920px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;

    &:after {
      transition: none;
    }
  }
  .collapsing {
    transition: none;
  }
  .collapsing.collapse-horizontal {
    transition: none;
  }
  .modal.fade {
    .modal-dialog {
      transition: none;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }

    .modal-footer {
      border-radius: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }

    .modal-footer {
      border-radius: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }

    .modal-footer {
      border-radius: 0;
    }
  }
}

@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }

    .modal-footer {
      border-radius: 0;
    }
  }
}

@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }

    .modal-footer {
      border-radius: 0;
    }
  }
}
